/* белый цвет герой #FFFFFF;*/
/* основной цвет текста #757575;*/
/* цвет зогаловок текста #212121;*/
/* вторичный цвет фона #F5F4FA;*/
/* цвет акцент #2196f3;*/
/* цвет фона подвал и герой #2F303A; */

/* html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
} */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --second-color: #f5f4fa;
  --accent-color: #2196f3;
  --hero-color: #ffffff;
}

/* body  */

body {
  outline: 2px solid tomato;
  background-color: #fff;
  color: var(--primary-text-color);
  font-family: Roboto;
  letter-spacing: 0.03em;
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.conteiner {
  outline: 2px solid tomato;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section-title,
p,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* header */

nav .logo,
footer .logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2; /* 31 */
  letter-spacing: 0.03em;
}

.logo,
.site-nav a,
.contacts-list a {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1; /* 16 */
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts-list a {
  color: currentColor;
}

.logo-item,
.site-nav a:focus,
.site-nav a:hover,
.contacts-list a:focus,
.contacts-list a:hover {
  color: var(--accent-color);
}

.site-nav .current {
  color: var(--accent-color);
}

/* main */

/*  Герой-hero */

.hero {
  outline: 2px solid tomato;
  text-align: center;
  background-color: #2f303a;
  padding: 200px 452px 280px 452px;
  /* margin-bottom: 94px; */
}

.hero-title {
  outline: 2px solid tomato;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--hero-color);
  /* min-width: 690px;
  min-height: 120px; */
  line-height: 1.4; /* 60 */
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-link {
  outline: 2px solid tomato;
  display: inline-block;
  min-width: 200px;
  min-height: 50px;
  padding: 14px 32px;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
  border-radius: 4px;
  /* margin: 350px 700px 200px 700px; */
  color: var(--hero-color);
  background-color: var(--accent-color);
  font-weight: 700;
  letter-spacing: 0.06em;
  text-decoration: none;
  /* text-align: center; */
  /* align-items: center; */
  /* position: absolute; */
  /* vertical-align: bottom; */
}

/* Особенности-features */
.section-title {
  color: var(--title-text-color);
}
.features-list {
  padding-top: 94px;
}

.features-list .section-title {
  font-size: 14px;
  line-height: 1.1; /* 16 */
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-list p {
  font-size: 14px;
  line-height: 1.7; /* 24 */
}

/* Чем мы занимаемся-section */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2; /* 42 */
}

.section h2 {
  text-align: center;
  margin-bottom: 50px;
}
.section-img {
  padding-bottom: 94px;
}

/* Команда-comand */
.comand-list .section-title {
  font-weight: 500;
}

.comand-list .section-title,
.comand-list p {
  font-size: 16px;
  line-height: 1.9; /* 19 */
}

.comand {
  background-color: #f5f4fa;
}

/* porfolio.html */

/* button  */
.button button {
  display: inline-block;
  padding: 6px 22px;
  /* border: 2px solid black; */
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--second-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px; /* 1.6 */
  border: none;
}

.button button:hover,
.button button:focus {
  color: var(--hero-color);
  background-color: var(--accent-color);
  /* box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12); */
}

/* примеры-examples */
.examples .section-title {
  font-size: 18px;
  line-height: 2; /* 36 */
}

.examples p {
  font-size: 16px;
  line-height: 1.9; /* 30 */
}

/* footer */

.contacts {
  background-color: #2f303a;
  height: 252px;
  width: 1600px;
  left: 0px;
  top: 2097px;
  border-radius: 0px;
}

.logo-color {
  color: var(--hero-color);
}
address {
  font-style: normal;
}

.contact-list {
  color: var(--hero-color);
  font-size: 14px;
  line-height: 1.7; /* 24 */
}

.contact-item {
  color: rgba(255, 255, 255, 0.6);
}
